<h1>Welcome, user.</h1>
<p><%= @shop.text %></p>
<p>The last chosen present is the one that will be shipped.</p>
<p>Your choice of present can be changed up to and including <%= l(@shop.closes_on) %>.</p>
<p>You will still be able to log in and view your final choice of present after the shop has closed.</p>
