<h1>Velkommen, user.</h1>
<p><%= @shop.text %></p>
<p>Den sidst valgte gave er den, der vil blive sendt.</p>
<p>Dit valg af gave kan ændres til og med <em><%= l(@shop.closes_on) %></em>.</p>
<p>Du vil stadig have mulighed for at logge ind og se dit endelige gavevalg, efter shoppen er lukket.</p>
