/* general */

body {
  background-color: #555;
  font: 12pt arial, sans-serif;
  color: #333;
  margin: 16px auto;
  width: 748px;
}

h1 {
  font-size: 13pt;
  font-weight: normal;
  font-style: oblique;
  text-align: center;
}

a {
  color: #000;
}

a:hover {
  color: #666;
}



/* header */

#header img {
  background-color: #fff;
  border: 1px solid #999;
  margin-left: 16px;
  padding: 8px;
}



/* nav */

#nav {
  text-align: right;
  margin-top: -24px;
}

#nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

#nav li {
  background-color: #fff;
  display: inline;
  font-weight: bold;
  padding: 8px 16px 9px 16px;
}

#nav a {
  background-color: #666;
  color: #fff;
  display: inline-block;
  margin: 0 -16px;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

#nav a:hover {
  background-color: #999;
}



/* content */

#content {
  background-color: #fff;
  letter-spacing: 1px;
  line-height: 1.5em;
  min-height: 300px;
  padding: 24px;
}



/* flash */

#flash_alert, #flash_notice {
  display: none;
}



/* footer */

#footer {
  background: url('/images/footer.png') top;
  height: 115px;
}



/* form */

form {
  line-height: 2em;
}

fieldset {
  border-width: 0;
  margin: 80px auto 0 auto;
  text-align: right;
  width: 450px;
}

fieldset ol {
  list-style: none;
  padding-left: 0;
}

fieldset li {
  margin-bottom: 8px;
}

label {
  float: left;
  text-align: left;
}

select {
  float: right;
}

li input {
  width: 200px;
}



/* shop show */

.choice {
  background-color: #eee;
  border: 1px solid #ccc;
  display: block;
  padding: 8px 12px;
}



/* product index */

.product_index {
  border-spacing: 16px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.product_index td {
  border: 1px solid #ccc;
  padding: 8px;
}

.product_index a {
  color: #333;
  text-decoration: none;
}

.product_index a:hover {
  color: #999;
}

.product_index img {
  border-width: 0;
  display: block;
  margin: 0 auto 8px auto;
}



/* product show */
#product {
  padding-left: 332px;
}

#product h1 {
  border-bottom: 1px solid #555;
  font: normal 24pt georgia, serif;
  margin-top: 0;
  text-align: left;
}

#product img {
  border: 3px solid #fff;
  float: left;
  margin-left: -332px;
  padding: 4px;
}

#product a:hover img {
  border-color: #999;
}

#product div {
  white-space: pre;
}






/* css3 */

#content {
  border-radius:      16px 0 0 0;
  -moz-border-radius: 16px 0 0 0;
  -moz-box-shadow:    0 0 16px black;
  -webkit-box-shadow: 0 0 16px black;
  z-index: 1;
}

#footer {
  border-radius:      0 0 16px 16px;
  -moz-border-radius: 0 0 16px 16px;
  -moz-box-shadow:    0 0 16px black;
  -webkit-box-shadow: 0 0 16px black;
}

.product_index td {
  border-radius:      16px;
  -moz-border-radius: 16px;
  -moz-box-shadow:    0 0 16px black;
  -webkit-box-shadow: 0 0 16px black;
}

.product_index a:hover img {
  opacity: 0.75;
}

#product h1 {
  text-shadow: 1px 1px 1px #999;
}

#product a:hover img {
  opacity: 0.75;
}
